<!--<footer class="footer">-->
<!--<div class="footer navbar-fixed-bottom">-->

  <div layout="row" layout-align="center center" class="footer">
    <div class="xarxes">
      <a href="https://www.instagram.com/?hl=es">
        <img name="redes" id="redes" src="../../assets/img/icons/instagram.png">
      </a>
      <a href="https://es-es.facebook.com/">
        <img name="redes" id="redes" src="../../assets/img/icons/facebook.png">
      </a>
      <a href="https://twitter.com/?lang=es">
        <img name="redes" id="redes" src="../../assets/img/icons/twiter.png">
      </a>
      <a href="https://web.whatsapp.com/">
        <img name="redes" id="redes" src="../../assets/img/icons/whats.png">
      </a>
    </div>
  </div>
<!--</div>-->
<!--</footer>-->
