.footer {

  bottom: 0;

  margin-top: 20px;
  width: 100%;
  height: 80px;
  color: white;
  line-height: 60px;
  background-color: #c11c3d;
}

.container{
  width: auto;
  max-width: 680px;
}

.xarxes {
  position: absolute;
  margin-top: 22px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#redes {
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-left: 10px;
}
