<!--<app-dashboard></app-dashboard>-->

  <div class="container-fluid" style = "margin-top: 100px">

    <div class="col-md-10 col-md-offset-1 mb-4">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-info">Volver</a>
        <a [routerLink]="['/admin/grupos/crear']" class="btn btn-success">Crear Grupo</a>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Grupo</th>
              <th>Descripción</th>
              <th>Imagen de Perfil</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grupo of grupos | async ">
              <td>
                <!--<img src="{{grupo.thumbnail}}" width="200" />-->
                {{grupo.idGrupo}}
              </td>
              <td>{{grupo.nombreGrupo}}</td>
              <td style="width: 450px">{{grupo.descripcion}}</td>
              <td>
                <img src="{{grupo.imagenGrupoPerf}}" width="200px">
              </td>
              <td>
                <a routerLink="/admin/grupos/editar/{{ grupo.idGrupo }}" class="btn btn-info">Editar</a>
                <a [routerLink]="['admin/grupos/delete']" class="btn btn-danger">Eliminar</a>
                <!--

                  <a type="button" class="btn btn-danger" (click)="eliminarGenero(genero.idGenero)">Eliminar</a>
                -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

