<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron" id="black">
    <a href="#">
      <img name="hola" id="logoIndex" src="../../../assets/img/logoMM.png">
    </a>
    <h2 id="nomGenere">Rock</h2>
  </div>

  <div *ngFor="let grupo of grupos">
    <div class="expoGrupos">
      <a routerLink='perfil/{{ grupo.nombreGrupo }}'>
        <img name="rock" id="imgGrup" src="{{grupo.imagenGrupoPerf}}">
      </a>


      <div id="nomGrup">
        {{grupo.nombreGrupo}}
      </div>


      <br>
      <br>
      <br>
      <div id="descripcio">
        {{grupo.descripcion}}
      </div>
      <a type="button" class="btn btn-danger" id="btnPerfil" routerLink='perfil/{{ grupo.nombreGrupo }}'>Ver Perfil</a>
      <!--<button type="button" class="btn btn-danger" id="btnPerfil" routerLink='/perfil/{{ grupo.nombreGrupo }}'>Ver perfil</button>-->
      <button type="button" class="btn btn-secondary" id="btnContratar" [routerLink]="['/contratar']">Contratar</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
