.genero{
    position: relative;
    float: left;
    /*margin-right: 35px;*/
    margin-bottom: 35px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-size: 10% 10%;
    background-size: cover;
    opacity: 1.2;
    filter: alpha(opacity=230);
    box-shadow: 3px 3px 3px #666666;

}

.container.generoCont{
  padding: 0px;
  /*margin-left: -15px;*/
}
