<div class="container-fluid generoCont">
  <div class="row">
    <div class="generos col-md-3 col-sm-2" *ngFor="let genero of generos | async ">
      <a routerLink='/grupos/{{ genero.idGenero }}'>
        <img class="genero" src="{{ genero.imagenGenero }}" width="200" />
      </a>
    </div>
  </div>
</div>
