<div class="content-wrapper" style="margin-top:100px;">
  <div class="container-fluid">
    <!--<p style="margin-top:50px;">

    </p>-->
    <div class="col-md-10 col-md-offset-1 mb-4">
      <div>
        <a [routerLink]="['/admin/']" class="btn btn-info">Volver</a>
        <a [routerLink]="['/admin/generos/crear']" class="btn btn-success">Nuevo Genero</a>
      </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre Genero</th>
              <th>Imagen</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let genero of generos | async ">
              <td>{{genero.idGenero}}</td>
              <td>{{genero.nombreGenero}}</td>
              <td><img src="{{genero.imagenGenero}}" width="200" /></td>
              <td>
                <a routerLink="/admin/generos/editar/{{ genero.idGenero }}" class="btn btn-info">Editar</a>
                <a type="button" class="btn btn-danger" (click)="eliminarGenero(genero.idGenero)">Eliminar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
