/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'generosFont';
    src: url('/assets/impact.ttf');
}


/*#logoIndex{
    width:200px;
    height:150px;
    margin-top: 40px;
    margin-left: 20px;
}*/

#logoCabecera{
    width: 200px;
    margin-top: -5px;
    margin-bottom: auto;
}
