<!--<nav class="navbar navbar-inverse navbar-fixed-top navbar-collapse collapse">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">
        <img id="logoCabecera" src="../../assets/miniLogo.png">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a class="nav-item" [routerLink]="['/']">Home</a>
        </li>
        <li>
          <a class="nav-item" [routerLink]="['/login']">Login</a>
        </li>
        <li>
          <a class="nav-item">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>-->


<!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand">
        <img id="logoCabecera" src="../../assets/miniLogo.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a [routerLink]="['/']">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!identity">
          <a class="nav-item" [routerLink]="['/login']">Login</a>
        </li>
        <li *ngIf="!identity">
          <a class="nav-item" [routerLink]="['/registrar']">Registro</a>
        </li>

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li>
              <a href="#">Separated link</a>
            </li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="identity">
          <!--<a class="nav-item" [routerLink]="['/login']">Login</a>-->
          <a class="nav-item" >{{identity.nombre + ' ' + identity.apellidos}}</a>
        </li>
        <li *ngIf="identity">
          <a class="nav-item" [routerLink]="['logout', 1]"><span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="./">Default
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li>
          <a href="../navbar-static-top/">Static top</a>
        </li>
        <li>
          <a href="../navbar-fixed-top/">Fixed top</a>
        </li>
      </ul>-->
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
