<app-navbar></app-navbar>
<br>
<br>
<div class="jumbotron" id="tituloGenero">
  Iniciar&nbsp;&nbsp;sesión
</div>
<br>
<br>
<div class="container">
  <div class="alert alert-success" *ngIf="status == 'success'">
    Te has identificado de forma correcta.
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    No te has identificado
  </div>

  <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="inputEmail" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <input #email="ngModel" [(ngModel)]="usuario.email" type="email" class="form-control" name="email" id="inputEmail" placeholder="Email"
          required>
        <span *ngIf="!email.valid && email.touched">
          El email no es válido
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-4 control-label">Password</label>
      <div class="col-sm-4">
        <input #password="ngModel" [(ngModel)]="usuario.password" type="password" name="password" class="form-control" id="inputPassword"
          placeholder="Password" required>
        <span *ngIf="!password.valid && password.touched">
          El password no es válido
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Iniciar Sesión</button>
      </div>
    </div>
    <div class="publi"></div>
  </form>
</div>
<app-footer></app-footer>
