@font-face {
    font-family: 'tituloFont';
    src: url('../../assets/fonts/impact.ttf');
}

#tituloGenero{
    color: rgb(160, 13, 25);
    font: 26px 'tituloFont';
    font-size: 40px;
    text-align: center;
}
.jumbotron{
    background-image: url("../../assets/img/pianoFondoClaro.jpg");
}

.form-group{
    color: rgb(46, 45, 45);
}
.publi{
    height: 135px;
    width: 150px;
}
