
<!--<p style="margin-top: 50px;">{{idGenero}}</p>
<p style="margin-top: 50px;">{{nombreGenero}}</p>-->

<div class="content-wrapper">
  <div class="container-fluid" style="margin-top:50px;">
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col-10 col-md-8">
        <h2>Editar Genero</h2>
        <form [formGroup]="editGeneroForm" (ngSubmit)="updateGenero(genero)">
          <div class="form-group">
            <label for="genero">id Genero</label>
            <input type="string" class="form-control" id="idGenero" formControlName="idGenero" [(ngModel)]="genero.idGenero" readonly>
          </div>
          <div class="form-group">
            <label for="genero">Nombre Genero</label>
            <input type="string" class="form-control" id="nombreGenero" formControlName="nombreGenero" [(ngModel)]="genero.nombreGenero">
          </div>
          <div class="form-group">
            <label for="genero">Imagen</label>
            <input style="width: 50%;" type="file" class="form-control" id="imagenGenero" formControlName="imagenGenero" [(ngModel)]="genero.imagenGenero">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
