<!--<div class = "container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a href="#" class="navbar-brand">MusicManagement</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Info</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacte</a></li>
                </ul>
            </div>
        </div>
    </nav>

  <div class = "jumbotron">
      <h1> Wellcome </h1>
      <h2> MusicManagement</h2>
      <a href="https://www.w3schools.com">
        <img border="0" alt="W3Schools" src="logo_w3s.gif" width="100" height="100">
        </a>
  </div>
  <div class = "panel panel-primary">
    <div class = "panel-heading"> Estado </div>
    <div class = "panel-body">
      <h3> {{title}} </h3>
    </div>
  </div>
</div>-->
<!--<div class="container">-->
  <router-outlet></router-outlet>
<!--</div>-->
