<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MusicManagement Admin Panel</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/admin">Home</a>
        </li>
        <li>
          <a routerLink="/admin/grupos">Grupos</a>
        </li>
        <li>
          <a routerLink="/admin/generos">Generos</a>
        </li>
        <li>
          <a routerLink="/admin/usuarios">Usuarios</a>
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li>
              <a href="#">Separated link</a>
            </li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="identity">
          <!--<a class="nav-item" [routerLink]="['/login']">Login</a>-->
          <a class="nav-item">{{identity.nombre + ' ' + identity.apellidos}}</a>
        </li>
        <li *ngIf="identity">
          <a class="nav-item" [routerLink]="['logout', 1]">
            <span class="glyphicon glyphicon-log-out"></span> Salir</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<!--<form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-4 control-label">Email</label>
    <div class="col-sm-4">
      <input #email="ngModel" [(ngModel)]="usuario.email" type="email" class="form-control" name="email" id="inputEmail" placeholder="Email"
        required>
      <span *ngIf="!email.valid && email.touched">
        El email no es válido
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-4 control-label">Password</label>
    <div class="col-sm-4">
      <input #password="ngModel" [(ngModel)]="usuario.password" type="password" name="password" class="form-control" id="inputPassword"
        placeholder="Password" required>
      <span *ngIf="!password.valid && password.touched">
        El password no es válido
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Iniciar Sesión</button>
    </div>
  </div>
</form>-->
