<div class="content-wrapper">
  <div class="container-fluid" style="margin-top:50px;">
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col-10 col-md-8">
        <h2>Añadir Grupo</h2>
        <a style="margin-bottom: 20px" class="btn btn-primary float-md-right" routerLink="/admin/generos">Regresar a grupos</a>

        <form [formGroup]="addGrupoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombreGrupo">Nombre del Grupo</label>
            <input type="text" class="form-control" id="nombreGrupo" formControlName="nombreGrupo">
          </div>
          <div class="form-group">
            <label for="descripcionGrupo">Descripción</label>
            <!--<input type="file" class="form-control" id="imagenGenero" formControlName="imagenGenero" enctype="multipart/form-data" (change)=onfileselected($event)>-->
            <textarea class="form-control" id="descripcionGrupo" formControlName="descripcionGrupo" rows="5" cols="50">Descripción aquí...</textarea>
          </div>
          <div class="form-group">
            <label for="imagenGrupo">Imagen de perfil</label>
            <input type="file" class="form-control" id="imagenGrupo" formControlName="imagenGrupo" enctype="multipart/form-data" (change)=onfileselected($event)>
          </div>

          <div class="form-group">
            <label for="tipusUsuari">Genero</label>
            <!--<input type="text" class="form-control" id="tipusUsuari" #tipusUsuari="ngModel" [(ngModel)]="usuario.tipusUsuari" required>-->
            <select multiple name="tipusUsuari" id="tipusUsuari" class="form-control" #tipusUsuari="ngModel" [(ngModel)]="usuario.tipusUsuari"
              required>
              <option value="Pop" default>Pop</option>
              <option value="Rock">Rock</option>
              <option value="Ska">Ska</option>
              <option value="Clásica">Clásica</option>
              <option value="Flamenco">Flamenco</option>
              <option value="Heavy">Heavy</option>
              <option value="Hip-Hop">Hip-Hop</option>
              <option value="Punk">Punk</option>
              <option value="RandB">R&B</option>
              <option value="Reggae">Reggae</option>
              <option value="Jazz">Jazz</option>

            </select>
          </div>

          <button class="btn btn-primary" type="submit" [disabled]="!addGeneroForm.valid">Añadir grupo  </button>
        </form>
        <!--<a style="margin-top: 20px" class="btn btn-success" routerLink="/admin/generos">Guardar genero</a>-->
      </div>
    </div>
  </div>
</div>
