<div class="content-wrapper">
  <div class="container-fluid" style="margin-top:50px;">
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col-10 col-md-8">
        <h2>Añadir Genero</h2>
        <a style="margin-bottom: 20px"class="btn btn-primary float-md-right" routerLink="/admin/generos">Regresar a generos</a>

        <form [formGroup]="addGeneroForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombreGenero">Nombre del Genero</label>
            <input type="text" class="form-control" id="nombreGenero" formControlName="nombreGenero">
          </div>
          <div class="form-group">
            <label for="imagenGenero">Imagen del Genero</label>
            <input type="file" class="form-control" id="imagenGenero" formControlName="imagenGenero" enctype="multipart/form-data" (change)=onfileselected($event)>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!addGeneroForm.valid">Añadir genero</button>
        </form>
        <!--<a style="margin-top: 20px" class="btn btn-success" routerLink="/admin/generos">Guardar genero</a>-->
      </div>
    </div>
  </div>
</div>
