<body class="bg-white">
  <div class="container-fluid bg-white">
    <div class="text-center" style="padding: 20px;">
      <div *ngIf="isAuth()">
        <div class="text-center">
          <h3 style="padding-top: 40px;">Bienvenido a nuestra aplicación Compras App</h3>
        </div>
        <div class="card card-login mx-auto mt-5">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember Password</label>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="index.html">Login</a>
            </form>
            <div class="text-center">
              <!--<a class="d-block small mt-3" href="register.html">Register an Account</a>-->
              <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="!isAuth()">
    <app-dashboard></app-dashboard>
  </div>
</body>
