#logoIndex{
    width:200px;
    height:150px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: -10px;
}

#fotoJumbo{
    position: absolute;
    width:600px;
    height:238px;
    margin-left: 150px;
}

.jumbotron{
  background-color: darkgrey;
}
