  <app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron" id="black">
    <a href="/">
      <img name="hola" id="logoIndex" src="../../assets/img/logoMM.png">
    </a>
    <img name="guitar" id="fotoJumbo" src="../../assets/img/guitar.jpg">
  </div>
</div>
<div class="container">
  <app-list-generos></app-list-generos>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
