<!--<div class="content-wrapper">
  <div class="container-fluid" style="margin-top:50px;">
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col-10 col-md-8">
        <h2>Añadir Grupo</h2>
        <a style="margin-bottom: 20px" class="btn btn-primary float-md-right" routerLink="/admin/generos">Regresar a grupos</a>
        <form [formGroup]="addGrupoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombreGrupo">Nombre del Usuario</label>
            <input type="text" class="form-control" id="nombreGrupo" formControlName="nombreGrupo">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>-->
<div class="container-fluid" style="margin-top: 100px">

  <div class="col-md-10 col-md-offset-1 mb-4">
    <div>
      <a [routerLink]="['/admin/']" class="btn btn-info">Volver</a>
      <!--<a [routerLink]="['/admin/usuarios/crear']" class="btn btn-success">Crear Usuario</a>-->
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Grupo</th>
            <th>Fecha</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Descripción</th>
            <th>Tipo de Actividad</th>
            <th>Direccion</th>
            <th>Usuario</th>

          </tr>
        </thead>
        <tbody>
          <!--<tr *ngFor="let usuario of usuarios | async ">
            <td>{{usuario.idUsuario}}</td>
            <td>{{usuario.nombreUsuario}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.direccion}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.tipusUsuari}}</td>
            <td>{{usuario.adminGrupo}}</td>
            <td>
              <a routerLink="/admin/grupos/editar/{{ usuario.idUsuario }}" class="btn btn-info">Editar</a>
              <a [routerLink]="['admin/grupos/delete']" class="btn btn-danger">Eliminar</a>
              <a type="button" class="btn btn-danger" (click)="eliminarGenero(genero.idGenero)">Eliminar</a>
            </td>

          </tr>-->
          <tr>
            <td>Led Zeppelin</td>
            <td>20/10/2018</td>
            <td>21:30 h</td>
            <td>23:00 h</td>
            <td>Concierto homenaje a Lou Reed</td>
            <td>Concierto</td>
            <td>Palau Sant Jordi, Barcelona</td>
            <td>Christian</td>
            <!--<td>
              <a routerLink="/admin/grupos/editar/{{ usuario.idUsuario }}" class="btn btn-info">Editar</a>
              <a [routerLink]="['admin/grupos/delete']" class="btn btn-danger">Eliminar</a>

            </td>-->
          </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
