@font-face {
    font-family: 'generosFont';
    src: url('../../../assets/fonts/impact.ttf');
}

#logoIndex{
    width:200px;
    height:150px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: -10px;
}

#black{
    background-color: black;
}

#nomGenere{
    float: right;
    margin-right: 200px;
    color: rgba(134, 133, 133, 0.315);
    font: 26px 'generosFont';
    font-size: 200px;
}

.expoGrupos{
    margin-bottom: 10px;
    overflow:hidden;
    background-color: rgba(255, 251, 251, 0.486);
    height: auto;
    width: 100%;
    border: 1px solid #c11c3d;
    border-radius: 7px;
    padding: 5px;
}

#imgGrupPerf{
    float: left;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    height: auto;
    display: block;
}

#imgGrup{
    float: left;
    margin: 10px;
    border-radius: 5px;
    width: 500px;
    height: auto;
    display: block;
}

#nomGrup{
    margin-left: 20px;
    margin-top: 5px;
    float: left;
    font: 32px 'generosFont';
    color: black;
    display: block;
}
#descripcio{
    margin-left: 20px;
    margin-right: 20px;
    width: 650px;
    float: left;
    text-align: justify;
    display: block;
}
#btnPerfil{
    float: left;
    margin: 20px;

}
#btnContratar{
    float: left;
    margin: 20px;
    border: 1px solid grey;
    margin-left: -5px;
}
