<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron" id="black">
    <div class="expoGrupos">
      <div *ngFor="let grupo of grupo">
        <a href="#">
          <img name="rock" id="imgGrupPerf" src="{{grupo.imagenGrupoPerf}}">
        </a>
        <div id="nomGrup">{{grupo.nombreGrupo}}</div>
        <br>
        <br>
        <div id="descripcio">{{grupo.descripcion}}</div>
        <br>
        <button type="button" class="btn btn-danger" id="btnContratar" [routerLink]="['/contratar']">CONTRATAR</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 id="tituloSeccion">Videos</h3>
    <div *ngFor="let multi of grupoMulti">
      <div *ngIf="multi.tipoArchivo === 'video'">
        <div class="col-md-6">
          <!--<iframe class="embed-responsive-item" width="560" height="315" src="{{multi.urlMultimedia}}" allowfullscreen></iframe>-->
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <h3 id="tituloSeccion">Pistas</h3>
    <br>
    <ul class="list-group">
      <div *ngFor="let multi of grupoMulti">
        <div *ngIf="multi.tipoArchivo === 'audio'">
          <li class="list-group-item">
            <audio controls class="audios">
              <source src="{{multi.urlMultimedia}}" type="audio/mpeg">
            </audio>
            <h4>{{multi.nombreArchivo}}</h4>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div class="row">
    <h3 id="tituloSeccion">Fotos</h3>
    <hr>
    <div class="gal">
      <div *ngFor="let multi of grupoMulti">
        <div class="col-md-6">
          <div *ngIf="multi.tipoArchivo === 'imagen'">
            <img id="imgGrup" src="{{multi.urlMultimedia}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
