@font-face {
    font-family: 'tituloFont';
    src: url('../../assets/fonts/impact.ttf');
}

#tituloGenero{
    color: white;
    font: 26px 'tituloFont';
    font-size: 40px;
    text-align: center;
}
.jumbotron{
    background-image: url("../../assets/img/pianoFondo.jpg");
}
