<app-navbar></app-navbar>
<div class="jumbotron" id="tituloGenero">
  Registro
</div>

<div class="alert alert-success" *ngIf="status=='success'">
  El registro se ha completado correctamente.
  <a [routerLink]="['/login']">Identificate aquí</a>
</div>

<div class="alert alert-danger" *ngIf="status=='error'">
  El registro no se ha completado correctamente.
</div>


<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Añadir usuario</h2>
    <br>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="form-group">
        <label for="nomUsuari">Nombre</label>
        <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" #nombreUsuario="ngModel" [(ngModel)]="usuario.nombreUsuario" required>
        <span *ngIf="!nombreUsuario.valid && nombreUsuario.touched">
          El nombre de usuario es oblicatorio
        </span>
      </div>
      <div class="form-group">
        <label for="cognoms">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" id="apellidos" #apellidos="ngModel" [(ngModel)]="usuario.apellidos">
        <!--<span *ngIf="!apellidos.valid && apellidos.touched">
          Los apellidos son oblicatorios
        </span>-->
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="usuario.email" required>
        <span *ngIf="!email.valid && email.touched">
          El email es obligatorio
        </span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="usuario.password" required>
        <span *ngIf="!password.valid && password.touched">
          El password es obligatorio
        </span>
      </div>


      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" class="form-control" id="poblacion" name="poblacion" #direccion="ngModel" [(ngModel)]="usuario.direccion">
      </div>

      <div class="form-group">
        <label for="tipusUsuari">Tipo de usuario</label>
        <!--<input type="text" class="form-control" id="tipusUsuari" #tipusUsuari="ngModel" [(ngModel)]="usuario.tipusUsuari" required>-->
        <select name="tipusUsuari" id="tipusUsuari" class="form-control" #tipusUsuari="ngModel" [(ngModel)]="usuario.tipusUsuari"
          required>
          <option value="contratante">Contratante</option>
          <option value="grupo">Grupo</option>
          <option value="ContGrup">Contratante y Grupo</option>
        </select>
        <span *ngIf="!tipusUsuari.valid && tipusUsuari.touched">
          Este campo es obligatorio
        </span>
      </div>
      <div class="form-group">
        <label for="admin">Administrador de grupo</label>
        <select type="radio" name="adminGrupo" id="adminGrupo1" class="form-control" #adminGrupo="ngModel" [(ngModel)]="usuario.adminGrupo"
          required>
          <option value="1" selected>Si</option>
          <option value="0">No</option>
        </select>
        <span *ngIf="!adminGrupo.valid && adminGrupo.touched">
          Este campo es obligatorio
        </span>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Registrar</button>

    </form>
  </div>
</div>
<app-footer></app-footer>
